{{ 'cart-progress-bar.css' | asset_url | stylesheet_tag }}

{% assign has_subscription = false %}

{% for item in cart.items %}
  {% if item.selling_plan_allocation %}
    {% assign has_subscription = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if has_subscription %}
  <div class="cart-progress-bar">
    <div class="cart-progress is-complete" style="width: 100%;"></div>

    <div class="free-shipping-icon is-complete">
      {% render 'shipping-progress-icon' %}
    </div>
  </div>

  <p class="progress-message is-complete">
    {{ settings.subscription_free_shipping_text }}
  </p>

  <style>
    .cart-progress-bar {
      background-color: {{ settings.background_bar_color }};
    }

    .cart-progress.is-complete,
    .free-shipping-icon.is-complete {
      background-color: {{ settings.completed_bar_color }};
    }

    .progress-message.is-complete {
      color: {{ settings.completed_bar_color }};
    }
  </style>
{% endif %}